
.Login{

  .login-form{
    position: relative;
    z-index: 1;
    text-align: center;
    margin-top: 50px;
    .input{
        margin-bottom: 1rem;
      padding: 1rem;
        border-radius: 1.5rem;
        border: 1px solid #DDDDDD;
    }

  }
}
