@import "colors";

html, body, #root {
  font-family: Montserrat-medium, sans-serif;
  font-size: 14px;
  margin: 0;
  height: 100%;
}

b, strong{
  font-family: Montserrat-semibold, sans-serif;
  font-weight: 600;
}

.App{
  color: $text-color;
  height: 100%;
}
